<div>
    <h2>
        <span jhiTranslate="commerceApp.customerOrder.home.title">Customer Orders</span>
        <button class="btn btn-primary float-right create-customer-order" [routerLink]="['/', { outlets: { popup: ['customer-order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="commerceApp.customerOrder.home.createLabel">
            Create new Customer Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="commerceApp.customerOrder.code">Code</span></th>
            <th><span jhiTranslate="commerceApp.customerOrder.date">Date</span></th>
            <th><span jhiTranslate="commerceApp.customerOrder.totalCost">Total Cost</span></th>
            <th><span jhiTranslate="commerceApp.customerOrder.status">Status</span></th>
            <!--<th><span jhiTranslate="commerceApp.customerOrder.taxCost">Tax Cost</span></th>-->
            <!--<th><span jhiTranslate="commerceApp.customerOrder.paymentCost">Payment Cost</span></th>-->
            <!--<th><span jhiTranslate="commerceApp.customerOrder.deliveryCost">Delivery Cost</span></th>-->
            <!--<th><span jhiTranslate="commerceApp.customerOrder.discountValue">Discount Value</span></th>-->
            <!--<th><span jhiTranslate="commerceApp.customerOrder.discountPercentage">Discount Percentage</span></th>-->
            <th><span jhiTranslate="commerceApp.customerOrder.user">User</span></th>
            <th><span jhiTranslate="commerceApp.customerOrder.entries">Entries</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerOrder of customerOrders ;trackBy: trackId">
                <td><a [routerLink]="['../customer-order', customerOrder.id ]">{{customerOrder.id}}</a></td>
                <td>{{customerOrder.code}}</td>
                <td>{{customerOrder.date | date:'medium'}}</td>
                <td>{{customerOrder.totalCost}}</td>
                <td jhiTranslate="{{'commerceApp.OrderStatus.' + customerOrder.status}}">{{customerOrder.status}}</td>
                <!--<td>{{customerOrder.taxCost}}</td>-->
                <!--<td>{{customerOrder.paymentCost}}</td>-->
                <!--<td>{{customerOrder.deliveryCost}}</td>-->
                <!--<td>{{customerOrder.discountValue}}</td>-->
                <!--<td>{{customerOrder.discountPercentage}}</td>-->
                <td>
                    {{customerOrder.user?.login}}
                </td>
                <td>
                    {{customerOrder.entries.length}}

                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer-order', customerOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-order/'+ customerOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-order/'+ customerOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
