
<div *ngIf="customerOrder">
    <h2><span jhiTranslate="commerceApp.customerOrder.detail.title">Customer Order</span> {{customerOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="commerceApp.customerOrder.code">Code</span></dt>
        <dd>
            <span>{{customerOrder.code}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.date">Date</span></dt>
        <dd>
            <span>{{customerOrder.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.totalCost">Total Cost</span></dt>
        <dd>
            <span>{{customerOrder.totalCost}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'commerceApp.OrderStatus.' + customerOrder.status}}">{{customerOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.taxCost">Tax Cost</span></dt>
        <dd>
            <span>{{customerOrder.taxCost}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.paymentCost">Payment Cost</span></dt>
        <dd>
            <span>{{customerOrder.paymentCost}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.deliveryCost">Delivery Cost</span></dt>
        <dd>
            <span>{{customerOrder.deliveryCost}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.discountValue">Discount Value</span></dt>
        <dd>
            <span>{{customerOrder.discountValue}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.discountPercentage">Discount Percentage</span></dt>
        <dd>
            <span>{{customerOrder.discountPercentage}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.customerOrder.user">User</span></dt>
        <dd>
            {{customerOrder.user?.login}}
        </dd>
    </dl>

    <br/>

    <button class="btn btn-primary float-right create-order-entry" [routerLink]="['/', { outlets: { popup: 'order-entry-new/'+ customerOrder.id} }]">
        <span class="fa fa-plus"></span>
        <span  jhiTranslate="commerceApp.customerOrder.orderEntryCreateLabel">
            Create new Order Entry
            </span>
    </button>
    <div class="table-responsive" *ngIf="customerOrder.entries">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="commerceApp.customerOrder.quantity">Quantity</span></th>
                <th><span jhiTranslate="commerceApp.customerOrder.value">Value</span></th>
                <th><span jhiTranslate="commerceApp.customerOrder.product">Product</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderEntry of customerOrder.entries ;trackBy: trackOrderEntryId">
                <td><a [routerLink]="['/order-entry', orderEntry.id ]">{{orderEntry.id}}</a></td>
                <td>{{orderEntry.quantity}}</td>
                <td>{{orderEntry.value}}</td>
                <td>
                    <div *ngIf="orderEntry.product">
                        <a [routerLink]="['/product', orderEntry.product?.id ]" >{{orderEntry.product?.name}}</a>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-order/'+ customerOrder.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
