<div *ngIf="media">
    <h2><span jhiTranslate="commerceApp.media.detail.title">Media</span> {{media.code}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="commerceApp.media.code">Code</span></dt>
        <dd>
            <span>{{media.code}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.media.title">Title</span></dt>
        <dd>
            <span>{{media.title}}</span>
        </dd>
        <dt><span jhiTranslate="commerceApp.media.image">Image</span></dt>
        <dd>
            <span>
                            <img class="media-size-view"
                                 [src]="_DomSanitizer.bypassSecurityTrustUrl('data:'+media.imageContentType+';base64, ' + media.image)"/>
            </span>
        </dd>

        <!--<dt><span jhiTranslate="commerceApp.media.product">Product</span></dt>-->
        <!--<dd>-->
        <!--<div *ngIf="media.product">-->
        <!--<a [routerLink]="['/product', media.product?.id]">{{media.product?.id}}</a>-->
        <!--</div>-->
        <!--</dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit"
            [routerLink]="['/', { outlets: { popup: 'media/'+ media.id + '/delete'} }]"
            replaceUrl="true"
            class="btn btn-danger">
        <span class="fa fa-remove"></span>
        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
    </button>


    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'media/'+ media.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
