<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <div *ngIf="product.id">
        <h4 class="modal-title" id="myProductLabelForEdit" jhiTranslate="commerceApp.product.home.editLabel">Create or edit a Product</h4>
        </div>
        <div *ngIf="!product.id">
            <h4 class="modal-title" id="myProductLabelForCreate" jhiTranslate="commerceApp.product.home.createLabel">Create or edit a Product</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="commerceApp.product.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="product.code"
            required maxlength="100" />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="commerceApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="product.name"
            required maxlength="200" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="commerceApp.product.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="product.description"
            maxlength="500" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label jhiTranslate="commerceApp.product.price" for="field_price">Price</label>-->
            <!--<select class="form-control" id="field_price" name="price" [(ngModel)]="product.price">-->
                <!--<option [ngValue]="null"></option>-->
                <!--<option [ngValue]="priceOption.id === product.price?.id ? product.price : priceOption" *ngFor="let priceOption of prices; trackBy: trackPriceById">{{priceOption.id}}</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="form-group">
            <label jhiTranslate="commerceApp.product.catalog" for="field_catalog">Catalog</label>
            <select class="form-control" id="field_catalog" name="catalog" [(ngModel)]="product.catalog" >
                <option [ngValue]="null"></option>
                <option [ngValue]="catalogOption.id === product.catalog?.id ? product.catalog : catalogOption" *ngFor="let catalogOption of catalogs; trackBy: trackCatalogById">{{catalogOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="commerceApp.product.categories" for="field_categories">Categories</label>
            <select class="form-control" id="field_categories" multiple name="categories" [(ngModel)]="product.categories">
                <option [ngValue]="getSelected(product.categories, categoryOption)" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="commerceApp.product.price" for="field_priceValue">PriceValue</label>
            <input type="number" min="1" step="any" class="form-control" name="priceValue" id="field_priceValue" [(ngModel)]="product.price.value"/>
        </div>
        <div class="form-group">
            <label jhiTranslate="commerceApp.product.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" [(ngModel)]="product.price.currency" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id === product.price.currency?.id ? product.price.currency : currencyOption" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.name}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
